.timeSlots {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1em;
  padding: 1em 5em;
  text-align: center;
  border-bottom: 1px solid rgb(217, 211, 211);
  .daySlots {
    .deleteSlots {
      cursor: pointer;
      display: inline-block;
      transition: 0.5s;
    }
    .deleteSlots:hover {
      transform: scale(1.4);
    }
  }
  .slot {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 1em 0;
    margin-bottom: 10px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;

    &.available {
      background-color: #e0f0ff;
      color: #000;

      &:hover {
        background-color: #c0e4ff;
      }
    }

    &.booked {
      background-color: #fff;
      color: #fff;
      cursor: not-allowed;
    }
    &.disable {
      color: #e0f0ff;
      cursor: not-allowed;
    }

    &.selected {
      background-color: #fff;
      border: 1px solid gold;
    }
    p {
      position: absolute;
      background: none;
      border: none;
      top: 50%;
      right: 1em;
      transform: translateY(-50%);
      cursor: alias;
      font-size: 1.25em;
    }
  }
}
