.timeSlots {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5em;
  padding: 1em 5em;
  text-align: center;
  border-bottom: 1px solid rgb(217, 211, 211);
  .slot {
    padding: 0.5em 0;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;

    &.available {
      background-color: #e0f0ff;
      color: #000;

      &:hover {
        background-color: #c0e4ff;
      }
    }

    &.booked {
      background-color: #fff;
      color: #fff;
      cursor: not-allowed;
    }

    &.selected {
      background-color: #fff;
      border: 1px solid gold;
    }
  }
}
