
.time {
  width: 30%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  text-align: center;
  button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: rgb(22, 118, 207);
  }
  .separator {
    font-size: 1.2rem;
    font-weight: bold;
    color: gray;
    margin: 0;
    padding: 0;
  }
  .hours {
    .timeInput {
      text-align: center;
      border: none;
      -moz-appearance: textfield;
    }
    .timeInput::-webkit-inner-spin-button,
    .timeInput::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
