.header {
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 2em;
  margin-top: 1em;
  border: 1px solid rgb(217, 211, 211);
  box-shadow: 0 0 10px 0 rgb(242, 237, 237);
  .img {
    width: 80px;
    height: 80px;
    border-radius: 999%;
    background-color: #000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .info {
    font-weight: normal;
    color: #999;

    .name {
      font-size: 18px;
      font-weight: 600;
      color: #000;
    }
  }
}
