.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 100;
  .formGroup {
    margin-bottom: 1rem;

    label {
      display: block;
      margin-bottom: 0.3rem;
    }
    // czas zmiana super komponent
    // ==========================================
    .time {
      width: 30%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
      text-align: center;
      button {
        border: none;
        background: none;
        cursor: pointer;
        font-size: 1.2rem;
        color: rgb(22, 118, 207);
      }
      .separator {
        font-size: 1.2rem;
        font-weight: bold;
        color: gray;
        margin: 0;
        padding: 0;
      }
      .hours {
        .timeInput {
          text-align: center;
          border: none;
          -moz-appearance: textfield;
        }
        .timeInput::-webkit-inner-spin-button,
        .timeInput::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }
}
